{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}
      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {% if interest.link %}
                {{ interest.item }} 
                <a href="{{ interest.link }}" target="_blank"> 
                  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </a>
              {% else %}
                {{ interest.item }}
              {% endif %}
            </h4>
          </div>
          {% if interest.courses %} 
          <div class="panel-body">
            <ul class="list-group">
              {% for element in interest.courses %}
                <li class="list-group-item"> {{ element.course }} </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
