{% assign skillinsite = site.data.data.skills %}
{% if skillinsite %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skillinsite.title }}
  </h2>

  {% if skillinsite.intro %}
  <div class="intro">
      <p>{{ skillinsite.intro }}</p>
  </div><!--//intro-->
  {% endif %}

<!-- Build a Array with Data Hash of skills

 assign ordered_items = (site.data.skills | sort | order: 'order') 
 for skilltype in ordered_items 
 <pre>{{ site.data.skills }} </pre>  -->
{% capture skillsarray %}
  { 
    {% for skills_hash in site.data.skills %}
    {{ skills_hash[0] }}:{
      {% for skills_hash2 in skills_hash[1] %}
        {% if forloop.last == false %}
          {{ skills_hash2[0] }}: {{ skills_hash2[1] }}, 
        {% else %}
          {{ skills_hash2[0] }}:{
            {% for skills_hash3 in skills_hash2[1] %}{
              {% for skillatt in skills_hash3 %}
                {{ skillatt[0] }}: {{ skillatt[1] }} {% if forloop.last == false %} , {% endif %}
              {% endfor %} } {% if forloop.last == false %} , {% endif %}
            {% endfor %} } {% if forloop.last == false %} , {% endif %}
        {% endif %}
      {% endfor %}  
     } {% if forloop.last == false %} , {% endif %}
    {% endfor %}
   } {% if forloop.last == false %} , {% endif %}
{% endcapture %}
<!-- 
<pre> {{ skillsarray }} </pre>
{% for skillsdata in skillsarray %}

<h1> data: {{ skillsdata.backendset.tittle }} </h1>

{% endfor %} -->
{% assign skillslist = '' %}
{% for skills_hash in site.data.skills %}
  {% assign skillslist = skillslist | append: skills_hash[0] %}
  {% if forloop.last == false %} 
    {% assign skillslist = skillslist | append:  ","  %}
  {% endif %}
{% endfor %}

{% assign dataskills = skillslist | split: "," %}
<!--
<pre>{{ dataskills.type }}</pre>


<pre>
{% for member in dataskills.type %}
  {{ member }}
{% endfor %}
</pre>
-->

<!-- End for Skills Array building -->

{% for skills_hash in site.data.skills %}
{% assign skilltype = skills_hash[1] %}
{% if skilltype %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div> {{ skilltype.title }} </div>
        <span class="skylldesc">{{ skilltype.desc }}</span>
        <span class="badge">{{ skilltype.skills.size }}</span>
      </h3>
    </div>
   <div class="panel-body">
    <!-- skilltype list skills ... -->
    <div class="skillset">
      {% assign skillordened = skilltype.skills %}
      {% for skill in skilltype.skills %}
      <!--
      {% if forloop.first == true %}
        <h4>{{ skill.category | capitalize }}</h4>
      {% endif %}
      -->
      <div class="item">
        <h5 class="level-title" data-toggle="tooltip" data-placement="top" title="{{ skill.desc | capitalize }}">
          {% if skill.icon %}
            <img class="iconskill" data-toggle="tooltip" data-placement="bottom" title="{{skill.name}}" height="25" width="25" src="{{ skill.icon }}" />
          {% else %}
          <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="bottom"  title="{{skill.name}}">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
          </span>
          {% endif %}
            {% if skill.website %} 
              <a class="linkskill" target="_blank" href="{{ skill.website }}">{{ skill.name | truncate: 15 }}  <i class="fa fa-link" data-toggle="tooltip" data-placement="bottom"  title="{{ skill.website }}"></i></a>
            {% else %}
              {{ skill.name | truncate: 15 }}
            {% endif %}
            {% if skill.version %}<span class="versiontext">- v{{ skill.version }}</span>{% endif %}
        </h5>
          
        <div class="level-bar">
         <div class="level-bar-inner" data-level="{{ skill.level }}">
          <div class="level-bar-text" data-toggle="tooltip" data-placement="top" title="{{  skill.level }}">
           {{ skill.level }}
          </div>
         </div>
        </div><!--//level-bar-->
        {% if skill.new %} <img height="24" width="24" class="iconnewskill" src="{{ site.url }}{{ site.baseurl }}/assets/images/new-product-sticker.svg" />{% endif %}
       </div><!--//item-->
      {% endfor %}
     </div><!-- //skillset -->
   </div><!-- panel-body -->
  </div><!-- panel -->
{% endif %}
{% endfor %}
{% endif %}
</section><!--//skills-section-->