{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>
  
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Backend Skills <span class="badge">42</span></h3>
   </div>
   <div class="panel-body">
    Backend list skills ...
   </div>
  </div>
  
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Frontent Skills <span class="badge">42</span></h3>
   </div>
   <div class="panel-body">
    Frontent list skills ...
   </div>
  </div>
  
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Mobile Skills <span class="badge">42</span></h3>
   </div>
   <div class="panel-body">
    Mobile list skills ...
   </div>
  </div>
  
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Toolset Skills <span class="badge">{{ skills.toolset.length }}</span></h3> 
   </div>
   <div class="panel-body">
    <!-- Toolset list skills ... -->
     <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h5 class="level-title">{{ skill.name }} - {{ skills.toolset.length }}</h5>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}" style="border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;">
          <div style="border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font-size: 9px; color: #f9f8f8; background-color: #35899d; margin: 0px 0px 0px 0px; padding: 0px 10px 0px 10px; vertical-align: top; font-weight: bold; float: right;">
           {{ skill.level }}
          </div>
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>
   </div>
  </div>

</section><!--//skills-section-->
{% endif %}
