/* ======= Base ======= */
body {
    font-family: 'Roboto', sans-serif;
    color: $text-color-secondary;
    background: $smoky-white;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6  {
    font-weight: 700;
}

a {
    color: darken($theme-color, 15%);
    &:hover {
        text-decoration: underline;
        color: darken($theme-color, 30%);
    }
    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.wrapper {
    background:$theme-color;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    @include box-shadow(2px 2px 5px rgba(0,0,0,0.4));
}

.sidebar-wrapper {
    background: $theme-color;
    position: absolute;
    right: 0;
    width: 280px;
    height: 100%;
    min-height: 800px;
    color: #fff;
    
    a {
        color: #fff;
    }
    .profile-container {
        padding: 30px;
        background: darken($theme-color, 10%);
        //background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
    }
    .name {
        font-size: 32px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .tagline {
        color: rgba(256, 256, 256, 0.6);
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile {
        margin-bottom: 15px;
    }

    .avatar {
        //used for profile image
        max-width: 150px;
        margin-bottom: 15px;
        border: 3px solid #fff;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        
        @include box-shadow(2px 2px 10px rgba(0,0,0,.9));

    }
    .contact-list {
        .fas, .fab {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .container-block {
        padding: 30px;

        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        }
    }
    .container-block-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .degree {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .education-container {
        .item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .meta {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 0;
        }
        .time {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
        }
    }
    .languages-container {
        .lang-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }

    .languages-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .interests-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-wrapper {
    background: #fff;
    padding: 40px;
    padding-right: 340px;
    
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: darken($theme-color, 15%);
        position: relative;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .section {
        margin: 10px 5px 10px 5px;
        padding: 20px 20px 0px 20px;
        border: 1px solid lighten($lighter-grey, 20%);
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow:  0 1px 2px rgba(0,0,0,.1);
        -webkit-box-shadow:  0 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow:  0 1px 2px rgba(0,0,0,.1);
        &:last-child {
            margin-bottom: 0;
        }
    }

    .experiences-section, .educations-section {
        .item {
            margin-bottom: 30px;
        }
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .job-title, .degree {
        color: $text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-grey;
    }
    .company, .university {
        margin-bottom: 10px;
        color: $text-grey;
    }

    .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
	color: darken($theme-color, 15%);
    }
    .projects-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }

    .publication-title {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        margin-bottom: 1px;
    }
    .publication-authors {
        font-style: italic;
        color: $text-grey;
        margin-bottom: 1px;
    }
    .publications-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }
}

.panel-default > .panel-heading {
    padding: 15px;
    .badge {
        background: darken($theme-color, 10%) !important;
        color: #ffffff;
        float: right;
        padding: 5px 15px;
        margin: -15px 0;
    }
    .skylldesc{
        font-size: 11px;
        font-weight: 400;
        color: lighten($text-color-secondary, 20%);
    }
}

.skillset {
    .item {
        margin-bottom: 10px;
        overflow: hidden;
        padding: 2px 0 3px 0;

        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;

        box-shadow:  0 1px 2px rgba(0,0,0,.1);
        -webkit-box-shadow:  0 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow:  0 1px 2px rgba(0,0,0,.1);
    }
    .level-title {
        font-size: 1em;
        line-height: 0.1em;
        margin: 5px 5px 5px 5px;
        padding: 0px;
        color: darken($theme-color,10%);
        .iconskill {
            width: 3.4em;
            height: 3.4em;
            padding: 10px;
            margin: 5px 0 3px 5px;

            filter: $filter; 
            -webkit-filter: $filter; 
            -moz-filter: $filter; 
        }
        .iconskill:hover {
            filter: $filter-grey;
            -webkit-filter: $filter-grey;
            -moz-filter: $filter-grey;
        }
        .fa-stack {
            width: 3.4em;
            height: 3.4em;
            padding: 10px 0 0 0;
            margin: 5px;
            color: darken($theme-color,10%);
        }
        .fa-stack:hover {
            color: lighten($darker-grey, 20%);
        }
        .fa-lg{
            font-size: 1.0em;
        }
        .linkskill{
            color: darken($theme-color,10%);
            font-size: 1em;
            .fa-link {
                opacity: 0;
                -webkit-transition: opacity 0.1s linear;
                -moz-transition: opacity 0.1s linear;
                transition: opacity 0.1s linear;
            }
        }
        .linkskill:hover {
            cursor: pointer;
            text-decoration: none;
            filter: $filter-grey;
            -webkit-filter: $filter-grey;
            -moz-filter: $filter-grey;
            .fa-link {
                opacity: 100;
            }
        }
        .versiontext {
            font-size: 0.8em;
            font-style: oblique;
            color: $text-grey;
            text-align: right;
            display: block !important;
            margin: -5px 0px 5px 0px;
            padding: 0 5px 5px 0;
        }
        
    }
    .level-title:hover {
        background: $smoky-white;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;

        box-shadow:  0 1px 3px rgba(0,0,0,.4);
        -webkit-box-shadow:  0 1px 3px rgba(0,0,0,.4);
        -moz-box-shadow:  0 1px 3px rgba(0,0,0,.4);
        .linkskill:hover {
            color: lighten($darker-grey,10%);
        }
        .fa-stack {
            color: lighten($darker-grey,10%);

            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;

            box-shadow:  1px 1px 5px rgba(0,0,0,.4) inset;
            -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,.4) inset;
            -moz-box-shadow:  1px 1px 5px rgba(0,0,0,.4) inset;
        }
        .iconskill {
            filter: $filter-grey;
            -webkit-filter: $filter-grey;
            -moz-filter: $filter-grey;

            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;

            box-shadow:  1px 2px 5px rgba(0,0,0,.8) inset;
            -webkit-box-shadow:  1px 2px 5px rgba(0,0,0,.8) inset;
            -moz-box-shadow:  1px 2px 5px rgba(0,0,0,.8) inset;
        }
    }
    .iconnewskill {
        margin: 0px 5px 0px 3px;
        width: 24px;
        height: auto;
        display: inline-block;
        float: left;
        
        filter: $filter-new;
        -webkit-filter: $filter-new;
        -moz-filter: $filter-new;

        -moz-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    .level-bar {
        height: 20px;
        margin: 5px 0px 5px 0px;
        background: $smoky-white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        overflow: hidden;
    }
    .level-bar-inner {
        height: 14px;
	    margin: 3px;
        background: lighten($theme-color, 10%);
	
        background-image: -webkit-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-image: -o-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        
        background-size: 25px 25px;
        -webkit-background-size: 25px 25px;
        -moz-background-size: 25px 25px;
        -webkit-animation: progress-bar-stripes 5s reverse linear infinite;
        -o-animation: progress-bar-stripes 5s reverse linear infinite;
        animation: progress-bar-stripes 5s reverse linear infinite;

                border-radius: 3px;
           -moz-border-radius: 3px;
        -webkit-border-radius: 3px;

        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    }
    .level-bar-text {
	    height: 18px;
        font-size: 12px;
        font-weight: bold !important;
        margin: -2px 0px -2px 0 !important;
        padding: 1px 5px 0px 7px !important;
        border-radius: 8px; 
        -moz-border-radius: 8px; 
        -webkit-border-radius: 8px;
        float: right; 
        color: #ffffff;
        background: darken($theme-color, 10%);
    }
    .level-bar-text:hover {
        cursor: pointer;
        background: darken($theme-color, 40%);
    }
    
}

.footer {
    padding-top: 30px;
    .copyright {
        line-height: 1.6;
        color: $text-color-secondary;
        font-size: 13px;
    }

    .fa-heart {
        color: $heart;
    }
    
    .icon-footer {
        color: $theme-color;    
    }

}
